# Virtual environment
.venv/
env/
venv/

# Environment variables 
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Apache Airflow local directory 
airflow/

# Temporary data files
data/temp/
data/temp_*.csv


# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
